{% extends 'base.html' %}

{% block title %}
Reportes
{% endblock %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-success text-white">

        <h4>Módulo Reportes</h4>

    </div>

    <div class="card-body">

        <ul class="list-group">

            <li class="list-group-item">
                Reporte de ventas
            </li>

            <li class="list-group-item">
                Reporte de productos
            </li>

            <li class="list-group-item">
                Reporte de usuarios
            </li>

        </ul>

    </div>

</div>

{% endblock %}
